@model EntryDetailsViewModel
@{
    ViewData["Title"] = "Entry - " + Model.Description;
}

<div class="widget widget-table action-table" style="margin-bottom: 0px; padding-top: 10px;">

    <div class="widget-header">
        <i class="icon-tasks"></i>
        <h3 class="marginHack">Entry detail</h3>
        <a asp-action="List" class="btn btn-small btn-default backArrow">
            <i class="btn-icon-only icon-arrow-left marginHackArrows"></i>
        </a>
          
       
    </div>
    <div class="widget-content">
        <div class="form-horizontal">
            <div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Description, new { readOnly = "readOnly", @class = "form-control col-md-2", style = "possition-relative: center;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Amount, new { readOnly = "readOnly", @class = "form-control col-md-2", style = "possition-relative: center;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AmountInMain, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.AmountInMain, new { readOnly = "readOnly", @class = "form-control col-md-2", style = "possition-relative: center;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EntryTime, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.EntryTime, "{0:MM/dd/yyyy hh:mm}", new { readOnly = "readOnly", @class = "form-control col-md-2", style = "possition-relative: center;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.UserName, new { readOnly = "readOnly", @class = "form-control col-md-2", style = "possition-relative: center;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryNames, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.CategoryNames, new { readOnly = "readOnly", @class = "form-control col-md-2", style = "possition-relative: center;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BudgetsNames, new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.BudgetsNames, new { readOnly = "readOnly", @class = "form-control col-md-2", style = "possition-relative: center;" })
                    </div>
                </div>


              
            </div>
        </div>
    </div>
</div>
