@using System.Security.Claims
@using System.Threading.Tasks
@model IEnumerable<EntryViewModel>

@{
    ViewData["Title"] = "Entries";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @string.Join(", ", @item.Categories.Select(x => x.Name))
                </td>
                <td>
                    @if (item.User.Email == User.FindFirst(ClaimTypes.Email)?.Value)
                    {
                        using (Html.BeginForm("Delete", "Entries", new {id = item.Id}, FormMethod.Post, true, null))
                        {
                            <input type="button" style="border: 0; padding: 0; padding-right: 5px" class="btn-link" value="Details" onclick="location.href = '@Url.Action("Details", "Entries", new {id = item.Id})'"/>
                            <span> |</span>
                            <input type="button" style="border: 0; padding: 0; padding-right: 5px" class="btn-link" value="Edit" onclick="location.href = '@Url.Action("Edit", "Entries", new {id = item.Id})'" />
                            <span> |</span>
                            <input type="submit" style="border: 0; padding: 0; padding-left: 5px;" class="btn-link" value="Delete"/>
                        }
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }

                </td>

            </tr>
        }
    </tbody>
</table>