@model ManageUserCreateViewModel

@{
    ViewBag.Title = "Manage account";
    ViewData["currency"] = Model.CurrencyId;
}

<h2>
    @Html.DisplayFor(model => model.Name)

</h2>

<br />


<form asp-action="Edit">
    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Email)
            </div>

        </div>

        <div class="form-group">
            <label asp-for="CurrencyId" class="col-md-2 control-label">Preferred currency</label>
            <div class="col-md-10">
                <select id="currency" asp-for="CurrencyId" asp-items="@Model.CurrenciesList" class="form-control" onchange="select('@Model.OriginalCurrencyId');"></select>
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Groups" class="col-md-2 control-label">Member of groups</label>
            <div class="col-md-10">
                <table class="table">
                    <tbody>
                        @foreach (var group in Model.Groups)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelGroup => group.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        
        <div class="form-group ">
            <div class="col-md-offset-2 col-md-10">
                @Html.HiddenFor(x=>x.Email)
                @Html.HiddenFor(x=>x.Name)
                @Html.HiddenFor(x=>x.OriginalCurrencyId)
                <input class="btn btn-success confirmButton" style="display: none" type="submit" value="Save changes" />
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    function select(original) {
        $(".confirmButton").each(function () {
            var input = $(this);
            var cur = $("#currency").val();
            
            if (cur === original) {
                input.hide();
            } else {
                input.show();
                input.after("<br/><span>"+original.val()+"</span>");
            }
            
            
            
        });
    }

</script>